<table>
  <tr><th>Image</th><th>Name</th><th colspan="2">Actions</th></tr>
  <% @events.each do |event| %>
  <tr>
    <td>
      <%= image_tag event.image.url(:thumb) unless event.image.blank? %>
    </td>
    <td>
      <%= event.name %>
    </td>
    <td><%= link_to"Edit", bigos_events_box.edit_admin_event_path(event), method: :get  %></td>
    <td><%= link_to 'Destroy', bigos_events_box.admin_event_path(event), method: :delete, :confirm => "Are you sure?" %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Add new item", bigos_events_box.new_admin_event_path %>